// input start
.n-input-wrapper .n-input__suffix > button {
  display: none;
}

// input end

// tabs start

// tabs end

.n-dialog {
  .n-base-close:not(.n-base-close--disabled):hover::before,
  .n-base-close:not(.n-base-close--disabled):active,
  .n-base-close:not(.n-base-close--disabled):focus::before {
    background-color: inherit;
  }

  .n-base-icon {
    &,
    & svg {
      width: 24px;
      height: 24px;
    }
  }
}

.n-drawer {
  // height: calc(100vh - var(--header-height));
}

.n-modal-mask,
n-drawer-mask {
  background-color: rgb(9 9 9 / 66%);
}
